@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.header{
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    max-width: $desktop-breakpoint;
    background-color: $main-background;
    padding: 16px;
    color: white;

    

    &__container{
        @include flex(space-between, center);
        width: 100%;

        flex-direction: column;
        gap: 16px;

        @include tablet{
            flex-direction: row;
        }

    }

    &__logo{
        color: $gold;

    }

    &__links{
        @include flex(center, center);
        width: 100%;

        gap: 12px;

        @include tablet{
            justify-content: end;
        }

    }

    &__links *{
        width: 50%;
        @include flex(center, center);

        @include tablet{
            width: auto;
        }

    }
    
}

.header-wrapper{
    width: 100vw;
    background-color: $main-background;
    @include flex(center, center)
  }