@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.guide-form{
    @include flex(center, center);
    flex-direction: column;
    max-width: 720px;
    width: 90vw;
    color: white;
    padding: 12px;
    max-width: 90vw;
    background-color: white;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 24px;
    color: black;

    &__wrapper{
        @include flex(center,center);
        flex-direction: column;
        width: 100%;
        // max-width: 1020px;

        @include tablet{
            flex-direction: row;
            align-items: start;
        }


    }

    &__column{
        @include flex(center, center);
        flex-direction: column;
        width: 100%;
    }

    &__header{
        padding-top: 30px;
        text-transform: uppercase;
        
    }

    &__inputs{
        width: 100%;
    }

    &__ctr{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;
        width: 100%;
    }

    &__select{
        color: black;
    }

    &__label{
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
    }
    
    &__text-area{
        height: 200px;
        resize: none;
    }

    &__submit{
        width: 100%;
        padding: 12px;

        @include tablet{
            align-self: center;
            width: auto;
            
        }

    }
    
}


