@font-face {
    font-family: "FugazOne";
    src: url("/src/assets/fonts/FugazOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ContrailOne";
    src: url("/src/assets/fonts/ContrailOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}