@use './mixins' as *;
@use './variables' as *;
@use './typography' as *;


a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0rem;
  box-sizing: border-box;
}

body {
//   font-family: "TitilliumWeb", sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.cta-action{
    background-color: $cta-action;
    color: white;
    border-radius: 20px;

    padding: 8px 12px;

    @include tablet{
        padding: 12px 18px;
    }

    &--secondary{
        background-color: #4F5055;
    }

    &--routine{
      padding: 3px 6px;
      border-radius: 5px;

      &:hover{
        cursor: pointer;
      }
    }

}


.tags{
  color: white;
  background-color: $tag-color;
  border-radius: 8px;

  padding: 10px 12px;
}

.thumbnail{
  height: 50px;
  width: 50px;

  border-radius: 20px;
}
