@use './mixins' as *;
@use './variables' as *;
@use './fonts' as *;


a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0rem;
  box-sizing: border-box;
}

body {
  font-family: "ContrailOne", monospace;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.cta-action{
    background-color: $cta-action;
    color: white;
    border-radius: 20px;
    font-family: "FugazOne", monospace;

    padding: 8px 12px;

    @include tablet{
        padding: 12px 18px;
    }

    &--secondary{
        background-color: #4F5055;
    }

    &--routine{
      padding: 3px 6px;
      border-radius: 5px;

      &:hover{
        cursor: pointer;
      }
    }

}


.tags{
  color: white;
  background-color: $tag-color;
  border-radius: 8px;
  font-family: "FugazOne", monospace;
  padding: 10px 12px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;

  @include tablet{
    font-size: 14px;
    line-height: 15px;
  }
}

.thumbnail{
  height: 50px;
  width: 50px;

  border-radius: 20px;
}

.logo{
  font-size: 2rem;
  font-family: "FugazOne", monospace;
  line-height: 2rem;
  

  @include tablet{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

}

.heading-text{
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 500;
  font-family: "ContrailOne", monospace;

  @include tablet{
      font-size: 1.5rem;
      line-height: 1.875rem;
  }
}
