a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0rem;
  box-sizing: border-box;
}

body {
//   font-family: "TitilliumWeb", sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
