// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors

$main-background: #333333;
$on-hover: #4C4C4C;
$secondary-background: #1C1C2E;
$alt-background: #626262;

$cta-background: #7BEFC8;
$cta-action: #E63946;
$tag-color: #BD2F39;


$gold: #FAC106

