@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.block{
    background-color: grey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    padding: 12px;
    @include flex(start, center);
    gap: 12px;
    touch-action: none;
}