@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.exercise-list{
    background-color: $main-background;
    border-radius: 5px;
    max-width: 700px;
    width: 100%;
    display: flex;
    padding: 12px;
    flex-direction: column;
    gap: 20px;
}