@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.view-exercise{
    @include flex(center, start);
    flex-direction: column;
    width: 100%;
    padding: 12px;
    max-width: 720px;

    &__video{
        width: 100%;
        height: 40vh;
    }

    &__instructions{
        padding-bottom: 8px;
    }

    &__header{
        padding: 24px 0px;
    }

    &__text-ctr{
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 12px 0px;
    }

    &__text-ctr--start{
        align-items: start
    }

    &__text-ctr--end{
        align-items: end;
    }
    

    &__center{
        @include flex(center, center);
        gap: 8px;
    }

    &__space-between{
        @include flex(space-between, center);
        flex-wrap: wrap;
        width: 100%;
    }


}