@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "sass:color";

.guide-item{
    @include flex(center, center);
    flex-direction: column;
    background-color: $main-background;
    color: white;
    width: 100%;
    padding: 12px;
    gap: 8px;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.05), 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);

    &__top-ctr{
        display: flex;
        width: 100%;
        justify-content: start;
        gap: 12px;

    }

    &__text-ctr{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__pfp{
        height: 50px;
        width: 50px;
        border-radius: 40px;
    }

    &__tags-ctr{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;

    }

    &:hover{
       background-color: $on-hover;
    }
    
}