@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.auth-container{
    @include flex(center, center);
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

.auth-card {
    width: 400px;
    min-height: 30vh;
    padding: 20px;
    @include flex(center, center);
    flex-direction: column;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 12px;

    &__title{
        margin-bottom: 10px;
    }

    &__form{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }

    &__label{
        @include flex(center, center);
        flex-direction: column;
        width: 100%;
        gap: 4px;
    }

    &__input{
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }

    &__button{
        padding: 10px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 5px;

    }

    &__toggle-text{
        padding: 14px 0px;
        font-size: 14px;
    }

    &__toggle-button{
        color: #007bff;
        border: none;
        background: none;

        &:hover{
            text-decoration: underline;
        }
    }

    &__error-message{
        color: red;
        text-align: center;
    }
}