@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.view-guide{
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    width: 90vw;
    background-color: white;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 24px;

    &__header, &__description{
        @include flex(center, start);
        flex-direction: column;
        width: 100%;
        padding: 12px;
        gap: 12px;
    }

    &__header-ctr{
        @include flex(space-between, center);
        flex-wrap: wrap;
        width: 100%;
    }

    &__text-ctr{
        @include flex(center, start);
        flex-direction: column;
    }

    &__flex{
        display: flex;
        flex-grow: 1;
        gap: 6px;
    }
}

.guide-wrapper{
    width: 100vw;
    @include flex(center, center);
    background-color: #f0f0f0;
  }