@use './styles/partials/global' as *;
@use  './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;


#root {
  width: 100vw;
  height: 100vh;
  @include flex(start, center);
  flex-direction: column;
}

main{
  width: 100%;
  max-width: $desktop-breakpoint;
  @include flex(start, center);
  flex-direction: column;
  flex-grow: 1;
}



