@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.exercise-modal{
    @include flex(center, center);
    flex-direction: column;
    gap: 12px;
    min-width: 38vw;
    min-height: 38vh;


    &__list{
        @include flex(center, center);
        flex-direction: column;
        height: 200px;
        overflow: scroll;
        flex-grow:1;
    }

    &__exercise{
        @include flex(start, center);
        padding: 4px;
        gap: 12px;
        width: 100%;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
       

        &:hover {
            transform: scale(1.05);
          }
        &:active{
            border: lightgray 1px solid;
        }
    }



    &__thumbnail{
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }


    &__button-ctr{
        display: flex;
        width: 100%;
        
    }

    &__button{
        width: 50%;
    }
}